<!DOCTYPE html>
<html lang="en">
<%- include('helper/head'); -%>
    </head>

    <body>
        <div class="loader"></div>
        <%- include('layout/navbar'); -%>
            <%- include(`pages/${data.page_path}`); -%>
                <%- include('layout/footer'); -%>
                    <%- include('helper/script'); -%>
                    

    </body>

</html>